.clients__content {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__title {
    margin-top: 0;
    margin-bottom: 50px;
}

.clients__list {
    display: flex;
}

.clients__item:not(:first-child) {
    margin-left: 30px;
}

.clients__link {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid $icons-color;
    border-radius: 4px;
    color: $icons-color;

    transition: border $main-transition-time $main-transition-function, color $main-transition-time $main-transition-function;

    &:hover,
    &:focus {
    border-color: $action-color;
    color: $action-color;
}
}

.clients__icon {
    fill: currentColor;
    width: 106px;
    height: 60px;
}

