.communications__list {
    display: flex;
}

.communications__item:not(:first-child) {
    margin-left: 10px;
}

.communications__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: $icons-color;
    
    cursor: pointer;

    transition: background-color $main-transition-time $main-transition-function, color $main-transition-time $main-transition-function;


    &:hover,
    &:focus {
    color: $main-white-color;
    background-color: $action-color;
    }
}

.footer__communications--dark {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: $main-white-color;
    background-color: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
    background-color: $action-color;
    }
}

.communications__icon {
    fill: currentColor;
    width: 20px;
    height: 20px;
}