.footer__join-us {  
    margin-left: 70px;
}

.footer__join-us-text {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    color: $main-white-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.footer__subscribe-text {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    color: $main-white-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}