.btn {
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-family: inherit;       
}

.btn--big {
    min-width: 200px;
    min-height: 50px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: $action-color;
    color: $main-white-color;

    transition: background-color $main-transition-time $main-transition-function;

    &:hover,
    &:focus {
        background-color: $main-choice-color;
    }
}

.btn--small {
    font-weight: 500;
    line-height: 1.62;
    background-color: $additional-bg;
    padding: 6px 22px;

    transition: background-color $main-transition-time $main-transition-function, color $main-transition-time $main-transition-function, box-shadow $main-transition-time $main-transition-function;
}

.btn--current,
.btn--small:hover,
.btn--small:focus {
    background-color: $action-color;
    color:$main-white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.portfolio__btn-item:not(:first-child) {
    margin-left: 8px;
}


