.footer__subscribe {

    @media screen and (min-width: 1200px) {
        margin-left: auto;        
    }
}


.footer__subscribe-input {
    max-width: 450px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);;
    color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-left: 16px;

    transition: border-color $main-transition-time $main-transition-function;

    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
        width: 100%;      
    }

    @media screen and (min-width: $desktop) {
        width: 358px;
        margin-right: 12px; 
    }

    &:focus,
    &:hover {
        border-color: $action-color;
    }
}

.footer__subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1199px) {
        margin: 0 auto;
    }

    @media screen and (min-width: 1200px) {
        display: inline-flex;
    }
    
}

.footer__subscribe-icon {
    margin-left: 10px;
}