.footer {
    background-color: $footer-bg;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {

    text-align: center;
    
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }

    
}
.footer__container-tablet {

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }

    .footer__container-address {
        @media screen and (min-width: 1200px) {
            text-align: left;
        }
        
    }
}

