@media screen and (max-width: 767px) {
    .header__contacts-list {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header__contacts-list {
    margin-left: auto;
    }
}


@media screen and (min-width: 1200px) {
    .header__contacts-list {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    
    .header__contacts-link  {
        color: $secondary-text-color;
        transition: color $main-transition-time $main-transition-function;
    }
}

@media screen and (min-width: 768px) {
    .header__envelope-icon,
    .header__phone-icon {
        margin-right: 10px;
        cursor: pointer;
        fill: currentColor;
    }
}

@media screen and (min-width: 1200px) {
    .header__contacts-item:not(:last-child) {
        margin-right: 48px;
    }
}
