.modal__form-checkbox,
.modal__form-license {
    font-size: 14px;
    line-height: 1.71;
}

.modal__form-checkbox {
    width: 425px;
    margin-bottom: 30px;
    
    position: relative;
    text-align: right;
}

.modal__form-checkbox-label {
    color: $secondary-text-color;
}

.modal__form-checkbox-input {
    position: absolute;
    appearance: none;
}

.modal__form-empty-icon,
.modal__form-checkbox-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.modal__form-empty-icon {
    fill: currentColor;

    transition: color $main-transition-time $main-transition-function
}

.modal__form-checkbox-icon {
    opacity: 0;
    border-radius: 2px;
    background-color: $action-color;

    transition: opacity $main-transition-time $main-transition-function;
}

.modal__form-license,
.modal__form-checkbox-input:focus-visible + .modal__form-empty-icon,
.modal__form-checkbox-input:hover + .modal__form-empty-icon {
    color: $action-color;
}

.modal__form-field:focus-within .modal__form-label,
.modal__form-input:not(:placeholder-shown) + .modal__form-label {
    transform: translate(-42px, -38px);
}


.modal__form-checkbox-input:checked ~ .modal__form-checkbox-icon,
.modal__form-field:focus-within .modal__form-comment-label,
.modal__form-comment:not(:placeholder-shown) + .modal__form-comment-label {
    opacity: 1;
}

.modal__form-field:focus-within .modal__form-icon,
.modal__form-field:focus-within .modal__form-input,
.modal__form-field:focus-within .modal__form-comment {
    border-color: $action-color;
}