.footer__join-us {

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        margin-left: 165px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }

}

.footer__subscribe-text,
.footer__join-us-text {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    color: $main-white-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (min-width: $desktop) {
        text-align: left;
    }
}