.header__contacts {

    @media screen and (max-width: 767px) {
        // margin-top: 302px;
        // margin-left: 25px;
    }
    @media screen and (min-width: $tablet) {
        display:block;
        margin-left: 84px;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 304px;
        }
    }

    .header__contacts-list {
    
        @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: 64px;
        }   
    
        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: center;
            // margin-left: auto;
        }
    }


.header__contacts-link  {
    color: $secondary-text-color;
    transition: color $main-transition-time $main-transition-function;
}

@media screen and (max-width: 767px) {
    .header__contacts-link--mail {
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        
        }
        
        .header__contacts-link--mobile {
            
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        // margin-bottom: 32px;
        color: $action-color;
        padding-top: 0;
        }    
}

@media screen and (min-width: $tablet) and (max-width: 1199px) {
    .header__contacts-link--mail {
        padding-top: 20px;
        
        }
        
        .header__contacts-link--mobile {
            padding-bottom: 20px;
        }
}

@media  screen and (max-width: 430px) {
    .header__contacts-link--mobile {
        font-size: 8vw;
    }

}

.header__contacts-communications-list {
    display: none;

    @media screen and (max-width: 767px) {
        display: inline-flex;
        // justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        color: $action-color;

        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        
    }
}


@media screen and (max-width: 767px) {
    .header__contacts-communications-item:not(:last-child) {
        margin-right: 10px;
        
    }
    .header__contacts-communications-item:not(:first-child) {
        padding-left: 10px;
        border-left: 1px solid rgba(33, 33, 33, 0.2);
    }
}

.header__contacts-communications-link {
    color: $main-text-color;
    transition: color $main-transition-time $main-transition-function;
}

.header__contacts-communications-link:hover,
.header__contacts-communications-link:focus {
    color: $action-color;
}

    .header__envelope-icon,
    .header__phone-icon {

        display: none;

        @media screen and (min-width: 768px) {
            display: block;
            margin-right: 8px;
            cursor: pointer;
            fill: currentColor;
        }

        @media screen and (min-width: 768px) {
            display: block;
            margin-right: 10px;
            cursor: pointer;
            fill: currentColor;
        }
    }


    .header__contacts-item {
        display: block;
    }

.header__contacts-item:last-child {
    @media screen and (max-width: 767px) {
        margin-bottom: 32px;
    }
}

.header__contacts-item:not(:last-child) {

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
        margin-bottom: 10px;
    }
    
    @media screen and (min-width: $desktop) {
        margin-right: 28px;
        // margin-right: 48px;
    }
}