.person {
    display: block;

        // @media screen and (min-width: $tablet) {
        //     display: inline-block;
        // }

        // @media screen and (min-width: $desktop) {
        //     display: inline-block;
        // }

    &__meta {
        text-align: center;
        background-color: $main-white-color;
        
        @media screen and (min-width: $mobile) {
            padding: 30px 122px 24px;
        }

        @media screen and (min-width: $tablet) {
            padding: 30px 74px 24px;
        }

        @media screen and (min-width: $desktop) {
            padding: 30px 32px;
        }

    }
    
    &__name {
        margin-top: 0;
        margin-bottom: 10px;
        
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
    }
    
    &__position {
        margin-top: 0;
        margin-bottom: 16px;
    
        color: $secondary-text-color;
    
        font-size: 16px;
        line-height: 1.18;
    }
}