.benefits-card {
    display: inline-block;
    width: 270px;
}

.benefits-card__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 120px;
    margin-bottom: 30px;

    background-color: $additional-bg; 
}

.benefits-card__icon {
    width: 70px;
    height: 70px;
    fill: currentColor;
}

.benefits-card__subtitle{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase; 
    margin-top: 0;
    margin-bottom: 10px;
}

.benefits-card__text {
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 0;
}