.what-we-do__content {
    padding-bottom: 94px;
}

.what-we-do__list {
    display: flex;
}

.what-we-do__item:not(:last-child) {
    margin-right: 30px;
}

.what-we-do__title {
    margin-top: 0;
    margin-bottom: 50px;
}