    $main-text-color: #212121;
    $secondary-text-color: #757575;
    $icons-color: #AFB1B8;
    $main-white-color: #FFFFFF;
    $action-color: #2196F3;
    $signature-color: rgba(255, 255, 255, 0.6);
    $footer-bg: #2F303A;
    $additional-bg: #F5F4FA;
    $border-line-color: #ECECEC;
    $secondary-border-line-color: #EEEEEE;
    $main-choice-color: #188ce8;

    $main-transition-time: 250ms;
    $main-transition-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    $portfolio-hover-effect: rgba(33, 150, 243, 0.9);